<div class="container-fluid ecommerce">
  <div class="row">
    <div class="col-lg-8">
      <div class="section">
        <div class="col-lg-2">
          <img src="images/icons/e-commerce.png" alt="">
        </div>
        <div class="col-lg-10 main-text">
          <h1>
            E-COMMERCE
          </h1>
          <p ng-bind-html="'OUR_SERVICES.SERVICES.COMMERCE.PAGE_TEXT' | translate"></p>
        </div>

      </div>

    </div>
    <div class="col-lg-4">
      <img class="image-head" src="images/e-commerce.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="col-lg-12">
        <button ui-sref-active="active" class="btn btn-title" ui-sref="web">WEB DESIGN</button>
      </div>
      <div class="col-lg-12">
        <button ui-sref-active="active" class="btn btn-title" ui-sref="mobile">MOBILE APPS</button>
      </div>
      <div class="col-lg-12">
        <button ui-sref-active="active" class="btn btn-title" ui-sref="ecommerce">E-COMMERCE</button>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="img-detail">
        <img src="images/outline plan_webdesign_mondoit_color.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="info-person">
        <div class="contact" ng-bind-html="'OUR_SERVICES.SERVICES.CONTACT' | translate"></div>
        <div class="col-lg-12">
          <img src="images/team/adnan_memija.jpg" alt="">
        </div>
        <div class="col-lg-12">
          <div class="info">
            <h3>ADNAN MEMIJA</h3>
            <h4>Software Engineer</h4>
            <div class="separator"></div>
            <!-- <div>
              <img src="images/icons/mobile.png" alt="">
              <p>015226063684</p>
            </div> -->
            <div>
              <img src="images/icons/mail.png" alt="">
              <p><a href="mailto:adnan.memija@mondoit.de?subject=MondoIT">adnan.memija@mondoit.de</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8"></div>
  </div>
</div>
