$mondo1: #39C0C2;
$mondo2: #8DC63F;
$mondo3: #222222;
$mondo4: #006C76;

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  // font-size: 1.2em;
  overflow-x: hidden;
};

.view {
  padding-top: 60px;
}

h1 {
  font-size: 2.1em;
}
p {
  font-size: 1.2em;
}
img {
  overflow: hidden !important;
}
a {
  color: $mondo1;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: $mondo2;
  text-decoration: none;
}

#canvas {
  background-color: #000;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 100px;
  padding: 0;
  position: static; /* fixed or static */
  top: 100px;
  left: 100px;
}

@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_menu';
@import 'partials/_underline';
@import 'partials/_buttons';
@import 'partials/_input';
@import 'partials/_home';
@import 'partials/_our-services';
@import 'partials/_references';
@import 'partials/_team';
@import 'partials/_feed';
@import 'partials/_contact';
@import 'partials/_legal';
@import 'partials/_cookies';
@import 'partials/_webdev';
@import 'partials/_mobiledev';
@import 'partials/_ecommerce';
@import 'partials/slick-theme';
@import 'partials/_loading';
@import 'partials/_birds';
@import 'partials/_fixes';
