.btn {
  width: 200px;
  height: 50px;
  background-color: $mondo3;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  transition: ease all 0.5s;
}
.btn:focus {
  outline: 0;
}

.btn-title {
  margin-top: 35px;
  background-color: $mondo1;
}
.btn-title:hover {
  background-color: #00909B;
}

.btn-tiles {
  width: 180px;
  height: 40px;
  font-size: 13px;
  margin-top: 35px;
  background-color: $mondo1;
}
.btn-tiles:hover {
  background-color: #00909B;
}

.btn-more {
  margin-top: 35px;
  background-color: transparent;
  border: solid 3px $mondo2;
  font-size: 15px;
  color: $mondo2;
}
.btn-more:hover {
  background-color: $mondo2;
  color: white;
}

.btn-bottom-main {
  width: 60%;
  height: 60px;
  border: solid 3px white;
  color: white;
  font-size: 20px;
  background: transparent;
  margin-top: 120px;
}
.btn-bottom-main:hover {
  background: white;
  color: $mondo1;
}
@media (max-width: 800px) {
  .btn-bottom-main {
    width: 88%;
  }
}

.btn-footer {
  background-color: #5A5A5A;
  width: 250px;
  height: 30px;
  font-size: 15px;
  margin-top: -5px;
}

.btn-contact {
  background-color: $mondo1;
  width: 160px;
  float: left;
  height: 40px;
  font-size: 15px;
  margin-top: -5px;
}
.btn-contact:hover {
  background-color: #00909B;
}

.btn-navigation {
  background-color: $mondo1;
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 0;
}
.btn-navigation:hover {
  background-color: #00909B;
}

.btn-side-menu {
  width: 40px;
  height: 40px;
  float: right;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin: 10px;

  i {
    color: black;
  }
}
// @keyframes btn-efect {
//     from {background-color: white;}
//     to {background-color: $mondo2;}
// }
// .btn-side-menu:focus {
//   outline: 0;
//   animation: btn-efect .4s;
// }

.lang-select {
  background-color: $mondo3;
  color: white;
  width: 100px;
}
