.contact-one {
  background: $mondo4;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
  }

  p {
    padding: 15px;
    color: white;
  }

}

.contact-four {
  background: $mondo4;

  .logo {
    width: 300px;
    padding: 40px;
  }
}

.contact-form {
  padding: 100px;

  .col-lg-6, .col-lg-12 {
    padding: 5px;
  }

  h1 {
    float: left;
    margin-bottom: 5px;
    margin-left: 15px;
    letter-spacing: 3px;
  }
}
@media (max-width: 800px) {
  .contact-form {
    padding: 0;
  }
}
