.cookies {
  position: fixed;
  z-index: 10000;
  bottom: -75px;
  left: 0;
  background: $mondo3;
  color: white;
  height: 120px;
  min-width: 750px;
  transition: ease all 0.5s;

  &:hover {
    bottom: 0;
  }

  button {
    width: 140px;
    height: 40px;
    margin: 5px;
  }
}
@media (max-width: 800px) {
  .cookies {
    width: 100%;
    z-index: 3000000;
  }
}

.hide {
  display: none;
}
