.ecommerce {

  .active {
    background-color: $mondo2;
  }

  .vision {
    color: $mondo2;
    margin-bottom: -30px;
    font-weight: bolder;
  }

  .vision-1 {
    color: $mondo1;
    margin-bottom: -30px;
    font-weight: bolder;
  }

  .main-text {
    padding-left: 30px;
  }

  .section {
    padding: 60px;
    img {
      width: 100%;
    }
    h1 {
      text-align: left;
      width: 220px;
      margin-top: 5px;
      padding-top: 30px;
      padding-bottom: 10px;
      border-bottom: solid 3px $mondo2;
    }
  }

  .image-head {
    height: 500px;
    float: right;
  }

  .img-detail {
    background-color: $mondo1;
    height: 300px;
    overflow: hidden;

    img {
      height: 300px;
      margin-right: -480px;
    }
  }

  h2 {
    font-size: 23px;
    letter-spacing: 2px;
    margin: 10px !important;
  }

  p {
    font-size: 20px;
    text-align: left;
  }

  .info-person {

    .contact {
      margin-left: 30px;
    }

    margin: 60px;
    text-align: left;
    font-size: 20px;

    img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      float: left;
      margin: 20px;
      cursor: pointer;
      transition: ease all 0.4s;
      border: solid 2px $mondo1;

      &:hover {
        border: solid 2px $mondo2;
      }
    }

    .info {
      padding-left: 30px;
      width: 270px;

      h3, h4 {
        margin: 5px;
      }

      img {
        width: 50px;
        height: 40px;
        border-radius: 0;
        margin: 3px;
        cursor: auto;
        border: none;
      }
      p {
        padding: 10px;
        font-size: 18px;
      }
    }

    .separator {
      border-bottom: solid 2px $mondo2;
    }

  }

}
