.feed {
  .unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .f-left {
    float: left;
  }

  input {
    margin: 20px;
    width: 200px;
  }

  .feed-box {
    min-height: 485px;
    padding: 35px;

    h2 {
      float: left;
      text-align: left;
      min-height: 25px;
    }
    h5 {
      float: left;
    }
    img {
      float: right;
      width: 250px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    p {
      text-align: justify;
      float: left;
      font-size: 18px;
    }
  }
  @media (max-width: 800px) {
    .feed-box {
      padding: 10px;
      margin: 0;
      img {
        width: 87%;
      }
    }
  }
}
