footer {
  min-height: 50px;
  background: $mondo3;
  color: white;
  font-size: 16px;
  font-weight: 100;
  padding-top: 15px;

  .social {
    text-align: center;

    a {
      color: white;
      &:hover {
        color: $mondo1;
      }
    }
    i {
      margin-left: 15px;
      margin-top: 5px;
      // float: right;
    }
  }
  @media (max-width: 800px) {
    .social {
      height: 174px;

      i {
        margin-top: 15px;
      }
    }
  }

  ul {
    list-style: none;
    min-height: 20px;
    padding: 0;
    margin: 0;
    margin-left: 40px;

    a {
      color: white;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
    @media (max-width: 800px) {
      a {
        font-size: 20px;
      }
    }

    li {
      float: left;
      padding-left: 25px;
    }
  }
  @media (max-width: 800px) {
    ul {
      width: 100%;
      margin-left: 0;

      li {
        width: 100%;
        height: 35px;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}
