header {
  width: 100%;
  height: 60px;
  background: $mondo3;
  position: fixed;
  z-index: 10000000;

  .logo {
    width: 200px;
    margin-top: 15px;
  }
  @media (max-width: 800px) {
    .logo {
      width: 100%;
      margin-top: 15px;
      text-align: center;
    }
  }

  nav {
    height: 60px;

    div {
      float: left;
    }

    .left {

    }
    .right {
      float: right;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        color: white;
        cursor: pointer;

        &:hover {
          color: white;
        }
        &:focus {
          color: white;
        }
      }
      li {
        float: left;
        padding: 20px;
        height: 60px;
      }
    }
  }

  .active {
    background-color: $mondo2;
  }

  .lang-select {
    font-size: 15px;
    margin-top: -10px;
    margin-right: 20px;

    .active-lang {
      color: $mondo2;
    }

    a {
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        color: $mondo2
      }
    }

    .separator {
      color: $mondo2;
      font-weight: bolder;
    }
  }
  .side-place {
    text-align: center;
    width: 100%;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 20px !important;
  }

}
