.first-box {
  min-height: 350px;

  img {
    width: 100%;
    height: 100%;
  }

  .enterence {
    padding-top: 40px;

    .big-logo {
      width: 250px;
    }
    .title {
      font-weight: 100;
      font-size: 23px;
      margin-top: 35px;
    }

  }


  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  .refs {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 25%;
      height: 140px;
      float: left;
    }
  }

  .fun-text {
    z-index: 2;
    letter-spacing: 4px;
    margin-top: -50px;
    color: white;
  }
}

.second-box {

  .contact-boxes {
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  .image-team {
    img {
      width: 100%;
    }
  }

  .text-box {
    height: 385px;
    padding: 20px;

    h3 {
      margin-top: 30px;
    }
  }
  .text-box-fix {
    padding-top: 100px;
  }

  .image-context {

    img {
      z-index: 1;
    }
    .context {
      // position: absolute;
      z-index: 2;
      margin-top: -200px;
      color: white;
    }
  }

}

.third-box {

  height: 200px;

  h2 {
    margin-top: 50px;
  }

  button {
    margin-top: 0;
  }

}

.fourth-box {
  height: 100%;

  .content {

  }

  img {
    width: 100%;
  }

  .image-context {

    img {
      z-index: 1;
    }
    .context {
      // position: absolute;
      z-index: 2;
      margin-top: 0px;
      color: white;
    }
  }
}

.sm {
  min-height: 490px !important;
}

.fifth-box {
  min-height: 550px;
  margin: 0 !important;
  padding: 0 !important;

  h1 {
    margin-top: 80px;
  }

  p {
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .p-large {
    padding-left: 22%;
    padding-right: 22%;
    font-size: 20px;
  }

  @media (max-width: 800px) {
    p {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.fifth-box-two {
  padding-top: 50px !important;
  background: #ECECEC;
}
.fifth-box-three {
  min-height: 300px;
  background: $mondo1;

  p {
    padding: 0;
    color: white;
    padding-right: 200px;
    text-align: right;
  }
}
@media (max-width: 800px) {
  .fifth-box-three {
    min-height: 600px;

    p {
      color: white;
      padding-right: 0;
      padding: 10px;
      text-align: center;
    }
  }
}

.mondo-slider {
  height: 580px;
  background-color: $mondo2;
  width: 100%;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
  }
  .context {
    position: absolute;
    width: 1105px;
    height: 533px;
    text-align: center;
    top: 0;
    margin-top: -178px;
    margin-left: -253px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 35px;
    padding-top: 90px;
    transform: rotateZ(-42deg);

    .frame {
      margin-left: -240px;
      margin-top: 150px;
      transform: rotateZ(42deg);

      h3 {
        font-size: 18px;
      }
      p {
        margin: 0;
        margin-top: 0;
        font-size: 2.1em;
      }
    }

  }

}
.bottom-box {
  padding-top: 20px !important;
  font-size: 19px !important;
}

.slick-slider {
  margin-bottom: 0 !important;
}