input {
  width: 100%;
  height: 50px;
  // margin: 10px;
  padding: 10px;
  border: solid 2px $mondo2;
  color: black;
  background: transparent;
}

select {
  width: 100%;
  height: 50px;
  // margin: 10px;
  padding: 10px;
  border: solid 2px $mondo2;
  color: black;
  background: transparent;
}

textarea {
  width: 100%;
  height: 150px;
  // margin: 10px;
  padding: 10px;
  border: solid 2px $mondo2;
  color: black;
  background: transparent;
}
