.side-menu {

  .menu {
    position: absolute;
    width: 100%;
    min-height: 700px;
    margin-top: 60px;
    transform: translateX(-100%);
    background-color: $mondo3;
    z-index: 100000;
    transition: ease all 0.5s;

    ul {

      a {
        width: 100%;
      }
      li {
        width: 100%;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .show-menu {
    //margin-left: 0;
    transform: translateX(0%);

  }
}