.our-services {

  margin-left: 10%;
  margin-right: 10%;
  //display: flex;
  //flex-direction: column;


  .moar-space {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1, h3 {
    letter-spacing: 6px;
  }
  @media (max-width: 800px) {
    h1, h3  {
      letter-spacing: 1px;
    }
  }


  p {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
  }

  .services-mantra {
    background-color: $mondo4;
    width: 650px;
    padding: 10px;
    min-height: 40px;
    color: white;
    margin: auto;
    margin-top: 100px;

    h3 {
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
    }
  }
  @media (max-width: 800px) {
    .services-mantra {
      width: 100%;
    }
  }

}
@media (max-width: 800px) {
  .our-services {
    margin: 0;
  }
}

.mondo-services-box {

  //margin-left: 20% !important;
  //margin-right: auto !important;

  display: flex;
  align-items: center;
  flex-direction: column;

  .r {
    flex-grow: 1;
    align-items: center;
    width: 810px;
  }
  @media (max-width: 800px) {
    .r {
      width: auto;
    }
  }

  .box {
    width: 250px;
    margin: 10px;
    margin-bottom: 50px;
    display: block;

    img {
      width: 100%;
      z-index: -1 !important;
      cursor: pointer;
    }

    .service-more {
      background-color: $mondo1;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 3;
      width: 250px;
      height: 55px;
      transition: ease all 0.4s;
      margin-top: 30px;
      cursor: pointer;
      overflow: hidden;

      p {
        font-size: 16px;
        color: white;
        margin: 0;
        padding: 10px;
        line-height: 1.5;
        min-height: 200px;
      }
      .more {
        margin-top: 30px;
        width: 70%;
        height: 40px;
        line-height: 1.5;
        background-color: $mondo2;
        border: none;
      }
    }
  }

}
.box-large{
    background-color: $mondo1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 3;
    width: 250px;
    transition: ease all 0.4s;
    cursor: pointer;
    position: absolute;
    margin-top: -390px !important;
    z-index: 3 !important;
    height: 390px !important;
    overflow: hidden;
}

.skills {

  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
  margin-right: 200px;

  img {
    width: 200px;
    height: 200px;
    margin: 0;
    margin-top: 3px;
  }
}
@media (max-width: 800px) {
  .skills {
    margin-left: 0;
    margin-right: 0;
  }
}

.trick {
  margin-top: 300px !important;
}

.type-me {
  color: $mondo1;
}
