.references {

  margin-left: 100px;
  margin-right: 100px;

  h1, h3 {
    letter-spacing: 6px;
  }
  @media (max-width: 800px) {
    h1, h3 {
      letter-spacing: 1px;
    }
  }
}

.client-work {

  margin-top: 50px;
  margin-bottom: 50px;

  .img-cover {
    width: 300px;
    height: 230px;
  }

  img {
    width: 300px;
    height: 230px;
    margin-bottom: 70px;
    z-index: 1;
  }

  .references-box {
    position: absolute;
    width: 190px;
    height: 40px;
    margin-top: -90px;
    margin-left: 50px;
    z-index: 2;
    background-color: $mondo1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 2.3;
    transition: ease all 0.4s;
    cursor: pointer;
    overflow: hidden;

    p {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
      text-align: left;
      margin-left: 20px;
    }
  }
  @media (max-width: 800px) {
    .references-box {
      margin-left: 20%;
    }
  }

  .more-about-reference {
    position: absolute;
    width: 300px;
    height: 230px;
    margin-top: -300px;
    margin-left: 103px;
    z-index: 2;
  }
  @media (max-width: 800px) {
    .more-about-reference {
      margin-left: 10px;
    }
  }
}


.partners {

  h1 {
    margin: 20px;
  }

  img {
    width: 200px;
    margin: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: ease all 0.5s;

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}
