.team-box {
  min-height: 350px;

  .contact-boxes {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }
  .fix-img {
    height: 350px;
  }

  @media (max-width: 800px) {
    h1, h2, h3, h4 {
      padding: 10px !important;
    }
  }

}

.team-list {

  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;

  img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: ease all 0.4s;
    border: solid 2px $mondo1;

    &:hover {
      border: solid 2px $mondo2;
    }
  }
}
@media (max-width: 800px) {
    .team-list {
      margin: 10px;
    }
}

.mondo-team {
  margin-top: 10px;
  margin-bottom: 100px;

  ul {
    list-style: none;
  }

  .member-skills {
    overflow: hidden;
    width: 370px;
    height: 370px;
    margin-top: 20px;
    float: right;

    &:hover {
      .skill {
        // margin-left: 0px;
        width: 370px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      float: left;
      z-index: 1;
      transition: ease all 0.4s;
    }
    .skill {
      position: absolute;
      z-index: 2;
      width: 0;
      height: 370px;
      overflow: hidden;
      color: white;
      background: rgba(34,146,105,0.5);
      transition: ease all 0.5s;

      p {
        padding-top: 25px;
        width: 290px;
        text-align: right;
      }
    }
  }


  p {
    margin-left: 50px;
    margin-right: 200px;
    text-align: left;
    font-size: 20px;
  }

  .contact-buttons {
    position: absolute;
    width: 130px;
    margin-top: 10px;
    margin-left: 150px;
    z-index: 4;

    .contact-button {
      width: 140px;
      height: 40px;
      margin-top: 10px;
      background-color: $mondo4;
      overflow: hidden !important;
      float: left;
      cursor: pointer;

      p {
        font-size: 15px;
        width: 100%;
        margin: 0;
        padding: 10px;
        color: white;
        text-align: center;
      }

      .up {
        transition: ease all 0.5s;
      }

      &:hover {
        .up {
          margin-top: -40px;
        }
      }
    }

    i {
      margin: 10px;
    }
  }
  .team-name-title {
    position: absolute;
    width: 350px;
    height: 90px;
    background: $mondo2;
    padding: 10px;
    color: white;
    z-index: 4;
    margin-left: 150px;
    margin-top: 350px;

    h3, h4 {
      text-align: left;
      margin: 10px;
    }

  }
  .navigation-buttons {
    margin-left: 200px;
  }

  @media (max-width: 800px) {
    .team-name-title {
      margin-left: 0;
    }
    p {
      margin: 20px;
      margin-top: 460px !important;
    }
  }
}

.mondo-team-slider {
  width: 100%;
  overflow: hidden;
}
