<div class="container legal">
  <h2>{{'IMPRESSUM.HEADER' | translate}}</h2>
  <p ng-bind-html="'IMPRESSUM.LINE_1' | translate">
  </p>
  <p>
    {{'IMPRESSUM.LINE_2' | translate}}
  </p>
  <p ng-bind-html="'IMPRESSUM.LINE_3' | translate">
  </p>
  <p ng-bind-html="'IMPRESSUM.LINE_4' | translate">
  </p>
  <p>
    {{'IMPRESSUM.LINE_5' | translate}}
  </p>
  <p>
    {{'IMPRESSUM.LINE_6' | translate}}
  </p>
  <p>
    {{'IMPRESSUM.LINE_7' | translate}}
  </p>

</div>
