<div class="container legal">
    <h2>{{'TANDS.HEADER' | translate}}</h2>
    <h3>{{'TANDS.PART_1.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_1.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_2.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_2.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_3.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_3.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_4.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_4.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_5.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_5.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_6.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_6.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_7.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_7.TEXT' | translate"></p>

    <h3>{{'TANDS.PART_8.HEADER' | translate}}</h3>
    <p ng-bind-html="'TANDS.PART_8.TEXT' | translate"></p>

    <p ng-bind-html="'TANDS.INFO' | translate">
    </p>
</div>
